.project-container {
  width: 100vw;
  margin: 0;
  padding-top: 25vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.project-card {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-basis: calc(
    33% - 20px
  ); /* adjust the 20px to the desired space between children */
  text-align: center;
  max-width: 30vw; /* adjust to your needs */
}
.in-development::before {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: x-small;
  content: "In Development";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #efdf35;
  color: #000;
  transform: rotate(315deg);
  margin: 48.6% 0 0 76.6%;
  width: 30%;
  height: 10%;
  text-align: center;
  clip-path: polygon(0 -1%, 99% 0, calc(113% - 33.9%) 100%, 32.75% 159%);
}

.project-card-img {
  align-self: flex-start;
  object-fit: cover;
  background-size: auto;
  background-position: 0% 0%;
  aspect-ratio: 5 / 3;
  width: 100%;
}
.project-card:hover {
  cursor: pointer;
}

.project-card-text {
  position: absolute;
  max-width: 400px;
  transition: filter 0.3s;
  filter: contrast(500%) brightness(1000%);
  display: none;
  color: #e2ff00;
  font-size: 51px;
  line-height: 200%;
  word-wrap: break-word;

  /* word-spacing: 9999px;
  white-space: pre-line; */
}

.project-card:hover .project-card-text {
  display: block;
}
.project-card:hover .project-card-img {
  transition: filter 0.3s;
  filter: grayscale(60%) brightness(70%);
}

@media (max-width: 1300px) {
  .project-container {
    gap: 1px;
  }
  .project-card {
    min-width: 48vw;
    flex-basis: calc(50% - 20px);
    margin-bottom: 4px;
  }
  .project-card-text {
    max-width: 400px;
    font-size: 45px;
  }
  .project-card::before {
    font-size: xx-small;
  }
}

@media (max-width: 540px) {
  .project-card {
    min-width: 100vw;
    flex-basis: calc(80% - 20px);
    margin-bottom: 20px;
  }
  .project-card-text {
    font-size: 40px;
  }
}
