.project-container {
  width: 100vw;
  margin: 0;
  padding: 20vh 0vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(
    33% - 20px
  ); /* adjust the 20px to the desired space between children */
  text-align: center;

  min-width: 20%; /* adjust to your needs */
}
.project-card-img {
  align-self: flex-start;
  background-image: url("./project_card_images/PokemonMatch.gif");
  object-fit: cover;
  background-size: cover;
  background-position: center;
  aspect-ratio: 5 / 3;
  width: 100%;
}
.project-card:hover {
  cursor: pointer;
}

.project-card-text {
  position: absolute;
  transition: filter 0.3s;
  filter: contrast(500%) brightness(1000%);
  display: none;
  color: #e2ff00;
  font-size: 30px;
}

.project-card:hover .project-card-text {
  display: block;
}
.project-card:hover .project-card-img {
  transition: filter 0.3s;
  filter: grayscale(60%) brightness(70%);
}

@media (max-width: 1080px) {
  .project-container {
    gap: 1px;
  }
  .project-card {
    min-width: 48vw;
    flex-basis: calc(50% - 20px);
    margin-bottom: 4px;
  }
}

@media (max-width: 540px) {
  .project-card {
    min-width: 100vw;
    flex-basis: calc(80% - 20px);
    margin-bottom: 20px;
  }
}
