.project-container {
  width: 100vw;
  margin: 0;
  padding: 20vh 0vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.project-card {
  width: 20%;
  aspect-ratio: 5 / 3;
  flex-basis: calc(
    33% - 20px
  ); /* adjust the 20px to the desired space between children */
  text-align: center;
  object-fit: cover;
  min-width: 20%; /* adjust to your needs */
}
.project-card:hover {
  transition: filter 0.3s;
  filter: grayscale(60%) brightness(70%);
  cursor: pointer;
}

@media (max-width: 1080px) {
  .project-container {
    gap: 1px;
  }
  .project-card {
    min-width: 48vw;
    flex-basis: calc(50% - 20px);
    margin-bottom: 4px;
  }
}

@media (max-width: 540px) {
  .project-card {
    min-width: 100vw;
    flex-basis: calc(80% - 20px);
    margin-bottom: 20px;
  }
}
