.about-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 80vh;
}

.about-container > section > p {
  font-size: 20px;
}
.scroll-area {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-column: 2 / 8;

  padding: 2%;
  align-content: center;
}
section {
  background: black;
  padding: 2%;
  width: 70vw;
  place-items: center;
}

.hidden {
  opacity: 0;
  filter: blur(3px);
  transition: all 1.5s;
}
.left {
  grid-column: 6 / 8;
}
.show {
  opacity: 1;
  filter: blur(0);
}

.keep-scrolling {
  margin: 20vh 0 0 20vw;
  visibility: hidden;
  animation: fill-text 5s ease-in-out 2s forwards;
  white-space: nowrap;
  overflow: hidden;
  font-size: large;
}

@keyframes fill-text {
  0% {
    width: 0;
    visibility: visible;
  }
  10% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 70%;
  }
  70% {
    width: 85%;
  }
  80% {
    width: 95%;
  }
  90% {
    width: 100%;
  }
  100% {
    visibility: visible;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transitions: none;
  }
}
